body {
  background-color: #00ffff;
}
.App {
  background-color: azure;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#to-do-form input {
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  color: #000000;
}
#to-do-form input::placeholder:hover {
  color: #efefef;
}
#to-do-form button {
  height: 50px;
  width: 100px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
}
